<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center"><span class="muted">Sign in to</span> tsSPA</h1>
    </div>

    <div class="col-sm-offset-1 col-sm-6">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <small class="pull-right"><a>Forgot password?</a></small>
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <br>
        <p><small>Don't have an account? <a>Sign Up!</a></small></p>
    </div>

    <div class="visible-xs-block"><hr></div>

    <div class="col-sm-4">
        <p><strong>Alternatively, sign in with</strong></p>
        <div role="group">
            <a class="btn btn-block btn-social btn-google">
                <i class="fa fa-google"></i> Google
            </a>
            <a class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Facebook
            </a>
            <a class="btn btn-block btn-social btn-twitter">
                <i class="fa fa-twitter"></i> Twitter
            </a>
            <a class="btn btn-block btn-social btn-github">
                <i class="fa fa-github"></i> GitHub
            </a>
        </div>
    </div>
</div>
