<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">ngSPA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="todos">Todo List</a></li>
                <li ui-sref-active="active"><a ui-sref="chat">Chat Room</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                            >Error <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/missing-url">URL Not Found Error</a></li>
                        <li><a ui-sref="throw-error">Throw Error</a></li>
                        <li><a ui-sref="throw-resolve-error">Throw Resolve Error</a></li>
                        <li><a ui-sref="throw-non-angular-error">Throw Non-Angular Error</a></li>
                        <li><a ui-sref="state-not-found-error">State Not Found Error</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Right side -->
            <form class="navbar-form navbar-right">
                <a ui-sref="login">
                    <button type="button" class="btn btn-primary">Log In</button>
                </a>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
                            >Language <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="lang in languages">
                            <a ng-click="selectLanguage(lang.locale)" translate>{{lang.nameKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
